{{> head }}
{{> navbar}}

<div class="row">
  <div class="col-8">
    <h1>Marvel</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi aspernatur autem molestiae laudantium, quisquam earum, magnam ducimus amet quod est aut? Cupiditate adipisci numquam magni repellendus maxime, ut ipsa dignissimos.</p>
  </div>
  <div class="col-4">
    <img src="assets/img/img.jpg" alt="Imagen" class="img-thumbnail">
  </div>
</div>

{{>footer}}